.header-categorie {
    height: 38px;
    background-color: rgb(255, 193, 23);
}

.card {
    width: 699px;
    height: 250px;
}

.card-list__item {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 5px;
}

.global {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    height: 130vh;
    /* display: flex; */
    /* justify-content: space-around; */
    background-color: rgb(246, 246, 246);
    padding-top: 35px;
}

.categorie-container {
    border-radius: 15px;
    width: 45%;
    background-color: rgb(255, 255, 255);
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.categorie-graphique {
    width: 100%;
    height: 30%;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.list-container {
    font-size: 2Opx;
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
}

.list-result {
    width: 100%;
}

.categorie-result {
    font-weight: bold;
}

.categorie-bloc {
    background-color: red;
    border-radius: 10px;
    width: 185px;
       height: 180px; 
}

.cubes-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.cubes-information {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cube-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.cube-specific {
    margin: 0;
    font-size: 11px;
}

#first-bloc {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#second-bloc {
    background: rgb(238,230,174);
    background: linear-gradient(90deg, rgba(238,230,174,1) 0%, rgba(148,233,165,1) 100%);
}

#third-bloc {
    background: rgb(219,174,238);
    background: linear-gradient(90deg, rgba(219,174,238,1) 0%, rgba(255,202,150,1) 100%);
}


@media screen and (max-width:415px) {
    .main-container {
        width: 60vh;
    }

    .categorie-container {
        width: 85%
    }     
    
    .categorie-bloc {
        width: 110px;
        height: 120px;
    }

    .main-navigation__footer {
        width: 73%;
    }
}