.header-categorie {
    height: 38px;
    background-color: rgb(255, 193, 23);
}

.global-container {
    display: flex;
    justify-content: center;
}

.login-container {
    width: 90vh;
    height: 80vh;
    background-color: rgb(255, 193, 23);
    margin-top: 55px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-address {
    background-color: rgba(0, 0, 0, 0.15);
    height: 36px;
    width: 97%;
    border-radius: 10px;
    margin : 0;
    width: 270px;
    border: 2px solid rgb(0,0,0)
}

.login-btn {
    width: 275px;
    background-color: rgb(153, 116, 14);
    padding: 5px 20px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
}

.login-btn:active {
    background-color: rgb(249, 225, 15);
    color: rgb(255, 255, 255);
}